:root {
  --basic-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-text-logo-color: #2196f3;
  --secondary-bakground-color: #2f303a;
  --main-background-color: #ffffff;
  --tertiary-background-color: #f5f4fa;
  --logo-accent-header-color: #000000;
  --button-background-color: #2196f3;
  --button-hover-background-color: #188ce8;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --filter-shadow-one-color: rgba(0, 0, 0, 0.1);
  --filter-shadow-two-color: rgba(0, 0, 0, 0.08);
  --filter-shadow-three-color: rgba(0, 0, 0, 0.12);
  --contact_link_color: rgba(255, 255, 255, 0.6);
  --button-border-color: #f5f4fa;
  --page-header-border: #ececec;
  --portfolio-list-border: #eeeeee;
  --icon-white-color: #ffffff;
  --link-hover-blue-color: #2196f3;
  --hero-background-image: rgba(47, 48, 58, 0.4);
  --icon-background-color: #f5f4fa;
  --icon-link-fill: #ffffff;
  --team-shadow-one-color: rgba(0 0 0 / 20%);
  --team-shadow-two-color: rgba(0 0 0 / 14%);
  --team-shadow-three-color: rgba(0 0 0 / 12%);
  --link-icon-background-color: #ffffff;
  --link-icon-grey-color: #afb1b8;
  --portfolio-link-one-shadow-color: rgba(0, 0, 0, 0.16);
  --hover-icon-fill: #757575;
  --hero-backround-color: #c4c4c4;
  --portfolio-link-two-shadow-color: rgba(0, 0, 0, 0.06);
  --portfolio-link-three-shadow-color: rgba(0, 0, 0, 0.12);
  --catalog-theme-background-color: rgba(47, 48, 58, 0.8);
  --social-icon-background-color: rgba(255, 255, 255, 0.1);
  --portfolio-overlay-background-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal-background-color: #ffffff;
  --modal-close-icon-border-color: rgba(0, 0, 0, 0.1);
  --modal-close-icon-background-color: #ffffff;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --icon-fill-white: #ffffff;
  --footer-input-color: rgba(255, 255, 255, 0.6);
  --input-border-color: #2196f3;
  --input-border-color-black: rgba(33, 33, 33, 0.2);
  --checkbox-color: #2196f3;
  --checkbox-border-color: #212121;
  --input-fill: #2196f3;
  --checkbox-link-color: #2196f3;
  --button-send-box-shadow-color: rgba(0, 0, 0, 0.15);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
}

.contact-link,
.contact-tel-link, .address-link {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}

.client-link, .catalog-theme, .features-list__icon-wrapper, .modal-form-checkbox, .modal-close, .button-subscribe, .footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio, .our-clients, .team, .our-work, .our-features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio, .our-clients, .team, .our-work, .our-features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--main-background-color);
  color: var(--basic-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.section-title,
.team-title,
.client-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--basic-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title,
.team-title,
.client-title {
    font-size: 36px;
  }
}

.bottom {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .bottom {
    margin-bottom: 50px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-text-logo-color);
}

.logo__accent_color_black {
  color: var(--logo-accent-header-color);
}

.logo__accent_color_white {
  color: var(--white-text-color);
}

.contact-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .contact-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
  }
  .header-link,
.header-tel {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    text-decoration: none;
    gap: 8px;
    fill: currentColor;
    transition: color var(--timing-function), fill var(--timing-function);
  }
  .header-link:hover, .header-link:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--link-hover-blue-color);
    fill: var(--link-hover-blue-color);
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav {
    flex-direction: row;
    gap: 30px;
  }
  .header-link,
.header-tel {
    font-weight: 500;
    font-size: 14px;
    gap: 10px;
  }
}
@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .open-mobile-menu-btn {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    margin-left: 88px;
    column-gap: 50px;
  }
  .open-mobile-menu-btn {
    display: none;
  }
  .site-nav__link {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--basic-text-color);
    transition: color var(--timing-function);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-text-logo-color);
  }
  .site-nav__link_current {
    color: var(--accent-text-logo-color);
  }
  .site-nav__link_current::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -32px;
    width: 100%;
    height: 4px;
    background-color: var(--link-hover-blue-color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}
.footer__adress {
  margin-top: 20px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  color: var(--white-text-color);
}

.contact-link,
.contact-tel-link {
  color: var(--contact_link_color);
  transition: background-color var(--timing-function);
}
.contact-link:hover,
.contact-tel-link:hover {
  color: var(--accent-text-logo-color);
}

.join-part {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .join-part {
    margin-bottom: 0px;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--white-text-color);
}

.social-list {
  display: flex;
  column-gap: 10px;
}

.social-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--social-icon-background-color);
  fill: var(--link-icon-grey-color);
  transition: background-color var(--timing-function);
}
.social-link-icon:hover, .social-link-icon:focus {
  background-color: var(--link-hover-blue-color);
}

.social-list-items {
  align-items: center;
  justify-content: center;
}

.footer-form-subscribe {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer-form-subscribe {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-subscribe {
    width: 570px;
  }
}

.footer-form-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-form {
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    gap: 12px;
  }
}

.footer-form-input {
  display: block;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-left: 16px;
  padding-bottom: 15px;
  resize: none;
  color: var(--footer-input-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid var(--footer-input-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--timing-function), box-shadow var(--timing-function);
}
.footer-form-input:focus {
  border-color: var(--input-border-color);
  box-shadow: 0px 4px 4px var(--shadow-color);
}

.button-footer-subscribe {
  display: block;
}

.button-subscribe {
  width: 200px;
  height: 50px;
  column-gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow var(--timing-function);
}

.icon-subscribe {
  display: inline-flex;
  top: -50%;
  right: 13px;
  transform: translateY(0%);
}
.button-subscribe:focus + .icon-subscribe {
  box-shadow: 0px 4px 4px var(--shadow-color);
}

.footer-form-field {
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  width: calc(100% - 30px);
  padding: 40px;
  background-color: var(--modal-background-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--modal-close-icon-background-color);
  border: 1px solid var(--modal-close-icon-border-color);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--timing-function);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: var(--input-fill);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-label-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid var(--input-border-color-black);
  border-radius: 4px;
  fill: currentColor;
  transition: border-color var(--timing-function);
}
.form-input:focus {
  border-color: var(--input-border-color);
  outline: none;
}

.form-label {
  margin-bottom: 10px;
}

.form-label-comments {
  margin-bottom: 20px;
}

.fill-form-wrapper {
  position: relative;
  display: block;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--timing-function);
}
.form-input:focus + .input-icon {
  fill: var(--input-fill);
}

.modal-form-checkbox {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form-checkbox {
  appearance: none;
  position: absolute;
  transition: color var(--timing-function), fill var(--timing-function), box-shadow var(--timing-function);
}

.textarea-input {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea-input:focus {
  border-color: var(--input-border-color);
  outline: none;
}
.textarea-input::placeholder {
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.form-checkbox-icon {
  margin-right: 7px;
  border: 2px solid var(--checkbox-border-color);
  border-radius: 2px;
  flex-shrink: 0;
  cursor: pointer;
  transition: border-color var(--timing-function);
}
.form-checkbox:checked + .form-checkbox-icon {
  background-color: var(--checkbox-color);
  border-color: var(--checkbox-color);
}
.form-checkbox:focus + .form-checkbox-icon {
  box-shadow: 0 0 0 2px var(--checkbox-color);
}

.form-checkbox-agree-icon {
  display: none;
  fill: var(--icon-fill-white);
}
.form-checkbox:checked + .form-checkbox-icon .form-checkbox-agree-icon {
  display: block;
}

.agreement-condition-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--checkbox-link-color);
  text-decoration: underline;
}

.button-send-form {
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  align-items: center;
  align-self: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--timing-function), box-shadow var(--timing-function);
}
.button-send-form:hover, .button-send-form:focus {
  background-color: var(--button-background-color);
  box-shadow: 0px 4px 0px var(--button-send-box-shadow-color);
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: var(--main-background-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--timing-function), visibility var(--timing-function);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
  }
  .mobile-menu-nav {
    margin-bottom: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: transparent;
    line-height: 0;
  }
  .mobile-menu-socials__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--page-header-border);
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header-nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: var(--hero-backround-color);
  color: var(--white-text-color);
  text-align: center;
  background-image: linear-gradient(var(--hero-background-image), var(--hero-background-image)), url("../images/hero-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(var(--hero-background-image), var(--hero-background-image)), url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-background-image), var(--hero-background-image)), url("../images/hero-tablet.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(var(--hero-background-image), var(--hero-background-image)), url("../images/hero-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--hero-background-image), var(--hero-background-image)), url("../images/hero-desktop.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(var(--hero-background-image), var(--hero-background-image)), url("../images/hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
  }
}
.hero__button {
  padding: 10px 32px;
}

.button {
  display: inline-block;
  background-color: var(--button-background-color);
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text-color);
  border: var(--button-background-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color var(--timing-function), box-shadow var(--timing-function);
}
.button:hover, .button:focus {
  background-color: var(--button-hover-background-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
  }
}
.features-list__description {
  margin-top: 0;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.features-list__icon-wrapper {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--icon-background-color);
}

.our-work {
  display: none;
  padding-top: 0;
}

@media screen and (min-width: 1200px) {
  .our-work {
    display: block;
  }
}
.catalog {
  display: flex;
  margin-left: 0;
  margin-right: 0;
}

.catalog-list:not(:last-child) {
  margin-right: 30px;
}

.catalog-theme {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--catalog-theme-background-color);
}

.work-feature-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  color: var(--white-text-color);
}

.work-feature {
  position: relative;
}

.team {
  background-color: var(--tertiary-background-color);
}

.team-flex {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .team-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.team-part {
  background-color: var(--main-background-color);
  box-shadow: 0 2px 1px 0 var(--team-shadow-one-color), 0 1px 1px 0 var(--team-shadow-two-color), 0 1px 3px 0 var(--team-shadow-three-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
@media screen and (min-width: 768px) {
  .team-part {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-part {
    width: calc((100% - 90px) / 4);
  }
}

.group-social-link {
  padding-bottom: 30px;
}

.member__team-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.member__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  text-align: center;
}

.team-icon {
  background-color: var(--link-icon-background-color);
  fill: var(--link-icon-grey-color);
  transition: background-color var(--timing-function);
}
.team-icon:hover, .team-icon:focus {
  background-color: var(--link-hover-blue-color);
  fill: var(--icon-white-color);
}

.member {
  padding-top: 30px;
  margin-bottom: 16px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client-link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--link-icon-grey-color);
  border-radius: 4px;
  fill: var(--link-icon-grey-color);
  transition: background-color var(--timing-function);
}
.client-link:hover, .client-link:focus {
  border-color: var(--link-hover-blue-color);
  fill: var(--link-hover-blue-color);
}

.client-link-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client-link-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-link-item {
    width: calc((100% - 150px) / 6);
  }
}

.client-icon {
  align-items: center;
  justify-content: center;
}

.button-portfolio {
  display: inline-block;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: inherit;
  color: var(--basic-text-color);
  background-color: var(--tertiary-background-color);
  cursor: pointer;
  border: 1px transparent var(--button-border-color);
  border-radius: 4px;
  transition: background-color var(--timing-function), color var(--timing-function), box-shadow var(--timing-function);
}
.button-portfolio:hover, .button-portfolio:focus {
  padding: 6px 25px;
  color: var(--white-text-color);
  background-color: var(--button-background-color);
  box-shadow: 0px 3px 1px var(--filter-shadow-one-color), 0px 1px 2px var(--filter-shadow-two-color), 0px 2px 2px var(--filter-shadow-three-color);
  border-radius: 4px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
}

.flex-element .portfolio-subtitle {
  margin-bottom: 4px;
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: inherit;
}

.flex-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.filter {
  display: flex;
  column-gap: 8px;
  justify-content: center;
}

.flex-element {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid var(--portfolio-list-border);
}
.flex-element:nth-child(3n) {
  row-gap: 30px;
}

.portfolio-link {
  transition: box-shadow var(--timing-function);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px var(--portfolio-link-one-shadow-color), 0px 4px 4px var(--portfolio-link-two-shadow-color), 1px 4px 6px var(--portfolio-link-three-shadow-color);
}

.description {
  padding: 20px 24px;
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.portfolio-card .description-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 3%;
  color: var(--white-text-color);
  background-color: var(--portfolio-overlay-background-color);
  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--timing-function), opacity var(--timing-function);
}
.portfolio-link:hover .portfolio-card .description-overlay, .portfolio-link:focus .portfolio-card .description-overlay {
  transform: translateY(0%);
  opacity: 1;
}
.portfolio-link:hover::after .portfolio-card .description-overlay {
  content: "";
  transform: translateY(100%);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bakground-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-flex {
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    justify-content: space-between;
  }
}

.logo-contact {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .logo-contact {
    margin-bottom: 0px;
  }
}/*# sourceMappingURL=main.css.map */