.footer__adress {
  margin-top: 20px;
}

.footer-contact__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  @extend %contact;
  color: var(--white-text-color);
}

.footer-contact-link,
.footer-contact-tel-link {
  @extend %contact;
  color: var(--contact_link_color);

  transition: background-color var(--timing-function);

  &:hover {
    color: var(--accent-text-logo-color);
  }
}