:root {
  --basic-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-text-logo-color: #2196f3;
  --secondary-bakground-color: #2f303a;
  --main-background-color: #ffffff;
  --tertiary-background-color: #f5f4fa;
  --logo-accent-header-color: #000000;
  --button-background-color: #2196f3;
  --button-hover-background-color: #188ce8;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --filter-shadow-one-color: rgba(0, 0, 0, 0.1);
  --filter-shadow-two-color: rgba(0, 0, 0, 0.08);
  --filter-shadow-three-color: rgba(0, 0, 0, 0.12);
  --contact_link_color: rgba(255, 255, 255, 0.6);
  --button-border-color: #f5f4fa;
  --page-header-border: #ececec;
  --portfolio-list-border: #eeeeee;
  --icon-white-color: #ffffff;
  --link-hover-blue-color: #2196f3;
  --hero-background-image: rgba(47, 48, 58, 0.4);
  --icon-background-color: #f5f4fa;
  --icon-link-fill: #ffffff;
  --team-shadow-one-color: rgba(0 0 0 / 20%);
  --team-shadow-two-color: rgba(0 0 0 / 14%);
  --team-shadow-three-color: rgba(0 0 0 / 12%);
  --link-icon-background-color: #ffffff;
  --link-icon-grey-color: #afb1b8;
  --portfolio-link-one-shadow-color: rgba(0, 0, 0, 0.16);
  --hover-icon-fill: #757575;
  --hero-backround-color: #c4c4c4;
  --portfolio-link-two-shadow-color: rgba(0, 0, 0, 0.06);
  --portfolio-link-three-shadow-color: rgba(0, 0, 0, 0.12);
  --catalog-theme-background-color: rgba(47, 48, 58, 0.8);
  --social-icon-background-color: rgba(255, 255, 255, 0.1);
  --portfolio-overlay-background-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
  --modal-background-color: #ffffff;
  --modal-close-icon-border-color: rgba(0, 0, 0, 0.1);
  --modal-close-icon-background-color: #ffffff;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --icon-fill-white: #ffffff;
  --footer-input-color: rgba(255, 255, 255, 0.6);
  --input-border-color: #2196f3;
  --input-border-color-black: rgba(33, 33, 33, 0.2);
  --checkbox-color: #2196f3;
  --checkbox-border-color: #212121;
  --input-fill: #2196f3;
  --checkbox-link-color: #2196f3;
  --button-send-box-shadow-color: rgba(0, 0, 0, 0.15);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --icon-black-fill: #212121;
}